@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.bigred {
  font-size: 20px;
  color: red;
}

body {
  height: 100%;
}

body img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 25px;
}

.header {
  background-color: #ffffff;
  padding: 15px 0;
  border-bottom: 1px solid #d6d6d6;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
}

.header nav {
  margin-right: auto;
}

.header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 70px;
}

.header nav ul a {
  font-family: "Lato";
  font-weight: 500;
  font-size: 20px;
  color: #292929;
}

.header__logo {
  margin-right: 150px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 1600px;
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 35px;
  font-family: "Lato";
  font-weight: 400;
  font-size: 20px;
}

.header__button {
  color: #000000;
}

.header__button-colored {
  color: white;
  background: #01996d;
  border: 1px solid #01996d;
  border-radius: 5px;
  padding: 15px 50px;
}

.bg-image {
  height: 92vh;
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 83px;
}

.bg-image .container {
  max-width: 1600px;
}

.bg-image h1 {
  max-width: 440px;
  padding-top: 175px;
  padding-bottom: 30px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  line-height: 74px;
  color: #01996d;
  text-shadow: 1px 1px black;
}

.bg-image .text {
  max-width: 420px;
  padding-bottom: 60px;
}

.text {
  font-family: "Lato";
  font-size: 20px;
  line-height: 31px;
  color: #484848;
}

.button {
  font-family: "Lato";
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  background: #01996d;
  border: 1px solid #01996d;
  border-radius: 4px;
  padding: 20px 50px;
}

.info__mini {
  margin-top: 170px;
}

.info__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info .text {
  max-width: 735px;
  font-size: 23px;
}

.info h2 {
  max-width: 580px;
}

.mini-text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 157%;
  color: #424242;
}

h2 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 150%;
  color: #01996d;
}

.cards {
  margin-top: 85px;
  margin-bottom: 50px;
}

.cards .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 30px;
}

.cards__item {
  position: relative;
  max-width: 385px;
}

.cards__item:nth-child(1) .cards__title {
  position: absolute;
  left: 22.5%;
  top: 9.5%;
}

.cards__item:nth-child(2) {
  margin-top: 270px;
}

.cards__item:nth-child(2) .cards__title {
  position: absolute;
  left: 18.5%;
  top: 12.5%;
}

.cards__item:nth-child(3) {
  margin-top: 50px;
}

.cards__item:nth-child(3) .cards__title {
  position: absolute;
  left: 33%;
  top: 10%;
}

.cards__number {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 150px;
  color: rgba(1, 153, 109, 0.2);
}

.cards__title {
  font-family: "Georgia";
  font-weight: 700;
  font-size: 30px;
}

.cards__text {
  margin: 30px 0 60px 0;
}

.video {
  background: #245852;
  padding-top: 180px;
  padding-bottom: 180px;
}

.video .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1600px;
}

.video__title {
  font-family: "Georgia";
  font-weight: 700;
  font-size: 50px;
  line-height: 157%;
  color: #ffffff;
  margin-bottom: 30px;
}

.video__text {
  font-family: "Lato";
  font-weight: 500;
  font-size: 25px;
  line-height: 157%;
  color: #ffffff;
  margin-bottom: 80px;
}

.video__player {
  background-repeat: no-repeat;
  position: relative;
}

.video__icon {
  position: absolute;
  top: 43%;
  left: 45%;
}

.video h2 {
  max-width: 580px;
}

.product {
  margin-top: 120px;
  margin-bottom: 150px;
}

.product .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 100px;
  max-width: 1370px;
}

.product__photo {
  position: relative;
}

.product__card {
  max-width: 65%;
  position: absolute;
  top: 55%;
  left: -10%;
}

.product__text {
  max-width: 584px;
}

.product__mini {
  margin-bottom: 15px;
}

.product h2 {
  margin-bottom: 15px;
}

.product .text {
  margin-bottom: 40px;
}

.footer {
  background-color: #245852;
  padding-bottom: 100px;
  padding-top: 100px;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.footer__list li a {
  font-family: "Lato";
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  color: #ffffff;
}

.footer__logo {
  margin-bottom: 60px;
}

.header__burger {
  background: none;
  display: none;
  margin-left: 40px;
}

.header__burger img {
  max-width: 80%;
}

@media screen and (max-width: 1200px) {
  .header__logo {
    margin-right: 50px;
  }
  .header nav ul {
    gap: 20px;
  }
  .bg-image .text {
    color: #2a2828;
  }
  .cards .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .product .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    max-width: 690px;
  }
}

@media screen and (max-width: 950px) {
  .header nav {
    display: none;
  }
  .header__burger {
    display: block;
    width: 50px;
    margin-left: auto;
  }
  .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .video {
    padding-top: 50px;
    padding-bottom: 70px;
  }
  .video .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .video__info {
    margin-bottom: 50px;
  }
  .video__text {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 768px) {
  .info__main {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .info h2 {
    margin-bottom: 30px;
  }
  .info__mini {
    margin-top: 100px;
  }
  .info .text {
    font-size: 20px;
  }
  .header__button {
    display: none;
  }
  .header__button-colored {
    display: none;
  }
  .bg-image {
    margin-top: 53px;
  }
  .bg-image h1 {
    padding-top: 80px;
  }
  .cards__item:nth-child(2) {
    margin-top: 80px;
  }
  .cards__item:nth-child(3) {
    margin-top: 80px;
  }
  .cards__text {
    margin: 30px 0 30px 0;
  }
  h2 {
    font-size: 47px;
    line-height: 115%;
  }
}

@media screen and (max-width: 491px) {
  .bg-image .text {
    color: #ffffff;
    text-shadow: 1px 1px 1px #292929;
  }
}

@media screen and (max-width: 380px) {
  .bg-image h1 {
    padding-top: 30px;
  }
}
