@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.bigred {
  font-size: 20px;
  color: red;
}

.container {
  max-width: 1370px;
  margin: 0 auto;
}

.header {
  padding: 25px 0;
  border-bottom: 1px solid #d6d6d6;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999px;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
}

.header img {
  margin-right: 170px;
}

.header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 70px;
}

.header nav ul a {
  font-family: "Lato";
  font-weight: 500;
  font-size: 20px;
  color: #292929;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 35px;
  margin-left: 280px;
  font-family: "Lato";
  font-weight: 400;
  font-size: 20px;
}

.header__button {
  color: #000000;
}

.header__button-colored {
  color: white;
  background: #01996d;
  border: 1px solid #01996d;
  border-radius: 5px;
  padding: 13px 50px;
}
