@import "_null";
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
.container {
   max-width: 1370px;
   margin: 0 auto;
}

.header {
   padding: 25px 0;
   border-bottom: 1px solid #d6d6d6;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 999px;
   box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);

   img {
      margin-right: 170px;
   }

   nav {
      ul {
         display: flex;
         gap: 70px;
         a {
            font-family: "Lato";
            font-weight: 500;
            font-size: 20px;
            color: #292929;
         }
      }
   }

   &__container {
      display: flex;
      align-items: center;
   }

   &__buttons {
      display: flex;
      align-items: center;
      gap: 35px;
      margin-left: 280px;
      font-family: "Lato";
      font-weight: 400;
      font-size: 20px;
   }

   &__button {
      color: #000000;
   }

   &__button-colored {
      color: white;
      background: #01996d;
      border: 1px solid #01996d;
      border-radius: 5px;
      padding: 13px 50px;
   }
}
